# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Placeholder for Phase 2 Database (PostgreSQL)
DATABASE_URL="postgresql://careerai_db_gsws_user:3Cd76G2UZxeuKeRCwPlmL3i2FcKwwCaP@dpg-dac7jpjm8hqs73a5nebg-a/careerai_db_gsws"

# Placeholder for Phase 3 AI Integration
NEXT_PUBLIC_OPENAI_API_KEY="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"
GEMINI_API_KEY="AQ.Ab8RN6Je_1vwkg3Q69Ym_i3SDlcuITqhjMMPS-7-svBctYnzEw"

# Supabase Authentication
NEXT_PUBLIC_SUPABASE_URL="https://emmzuaeaotopvzmqzszb.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtbXp1YWVhb3RvcHZ6bXF6c3piIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzNjM0OTYsImV4cCI6MjEwMzkzOTQ5Nn0.MKXxeWNgGq8eNbNfNBq08SRAMv920uH02ZoKjT1bd-g"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtbXp1YWVhb3RvcHZ6bXF6c3piIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODM2MzQ5NiwiZXhwIjoyMTAzOTM5NDk2fQ.1dRBmN7kebyYvSmegmqRZOOF-meAZ41O9d_Cb5rS3Gs"